<div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="#">
            <span class="sr-only">Demo craft</span>
            <svg class="h-8 w-auto sm:h-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path d="M 61.296 90 c 15.692 0 28.438 -12.783 28.527 -28.389 L 90 38.633 l -0.266 -1.25 L 88.98 35.81 l -1.275 -0.986 C 86.05 33.525 77.659 34.912 75.4 32.86 c -1.603 -1.464 -1.853 -4.109 -2.338 -7.694 c -0.901 -6.943 -1.471 -7.305 -2.559 -9.659 C 66.555 7.149 55.835 0.868 48.471 0 H 28.523 C 12.83 0 0 12.802 0 28.438 v 33.173 C 0 77.217 12.83 90 28.523 90 L 61.296 90 L 61.296 90 z M 28.886 23.233 h 15.815 c 3.02 0 5.465 2.451 5.465 5.43 c 0 2.967 -2.445 5.438 -5.465 5.438 H 28.886 c -3.02 0 -5.46 -2.472 -5.46 -5.438 C 23.426 25.684 25.866 23.233 28.886 23.233 z M 23.426 61.191 c 0 -2.978 2.44 -5.411 5.46 -5.411 h 32.135 c 3 0 5.436 2.433 5.436 5.411 c 0 2.938 -2.436 5.41 -5.436 5.41 H 28.886 C 25.866 66.601 23.426 64.13 23.426 61.191 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
            </svg>
            </a>
        </div>
        <div class="-my-2 -mr-2 md:hidden">
            <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path d="M 61.296 90 c 15.692 0 28.438 -12.783 28.527 -28.389 L 90 38.633 l -0.266 -1.25 L 88.98 35.81 l -1.275 -0.986 C 86.05 33.525 77.659 34.912 75.4 32.86 c -1.603 -1.464 -1.853 -4.109 -2.338 -7.694 c -0.901 -6.943 -1.471 -7.305 -2.559 -9.659 C 66.555 7.149 55.835 0.868 48.471 0 H 28.523 C 12.83 0 0 12.802 0 28.438 v 33.173 C 0 77.217 12.83 90 28.523 90 L 61.296 90 L 61.296 90 z M 28.886 23.233 h 15.815 c 3.02 0 5.465 2.451 5.465 5.43 c 0 2.967 -2.445 5.438 -5.465 5.438 H 28.886 c -3.02 0 -5.46 -2.472 -5.46 -5.438 C 23.426 25.684 25.866 23.233 28.886 23.233 z M 23.426 61.191 c 0 -2.978 2.44 -5.411 5.46 -5.411 h 32.135 c 3 0 5.436 2.433 5.436 5.411 c 0 2.938 -2.436 5.41 -5.436 5.41 H 28.886 C 25.866 66.601 23.426 64.13 23.426 61.191 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
            </svg>
            </button>
        </div>
        <nav class="hidden space-x-10 md:flex">
            <a href="{{ siteUrl }}" class="text-base font-medium text-gray-500 hover:text-gray-900">Home</a>
            <a href="{{ siteUrl ~ "team" }}" class="text-base font-medium text-gray-500 hover:text-gray-900">Team</a>
            <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">About Us</a>
        </nav>
        <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
            <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Sign in</a>
            <a href="#" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Sign up</a>
        </div>
        </div>
    </div>
    <div class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden">
        <div class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="px-5 pt-5 pb-6">
            <div class="flex items-center justify-between">
            <div>
                <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                        <path d="M 61.296 90 c 15.692 0 28.438 -12.783 28.527 -28.389 L 90 38.633 l -0.266 -1.25 L 88.98 35.81 l -1.275 -0.986 C 86.05 33.525 77.659 34.912 75.4 32.86 c -1.603 -1.464 -1.853 -4.109 -2.338 -7.694 c -0.901 -6.943 -1.471 -7.305 -2.559 -9.659 C 66.555 7.149 55.835 0.868 48.471 0 H 28.523 C 12.83 0 0 12.802 0 28.438 v 33.173 C 0 77.217 12.83 90 28.523 90 L 61.296 90 L 61.296 90 z M 28.886 23.233 h 15.815 c 3.02 0 5.465 2.451 5.465 5.43 c 0 2.967 -2.445 5.438 -5.465 5.438 H 28.886 c -3.02 0 -5.46 -2.472 -5.46 -5.438 C 23.426 25.684 25.866 23.233 28.886 23.233 z M 23.426 61.191 c 0 -2.978 2.44 -5.411 5.46 -5.411 h 32.135 c 3 0 5.436 2.433 5.436 5.411 c 0 2.938 -2.436 5.41 -5.436 5.41 H 28.886 C 25.866 66.601 23.426 64.13 23.426 61.191 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    </g>
                </svg>
            </div>
            <div class="-mr-2">
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            </div>
            <div class="mt-6">
            <nav class="grid gap-y-8">
                <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                <!-- Heroicon name: outline/chart-bar -->
                <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">Analytics</span>
                </a>

                <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                <!-- Heroicon name: outline/cursor-arrow-rays -->
                <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">Engagement</span>
                </a>

                <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                <!-- Heroicon name: outline/shield-check -->
                <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">Security</span>
                </a>

                <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                <!-- Heroicon name: outline/squares-2x2 -->
                <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">Integrations</span>
                </a>

                <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                <!-- Heroicon name: outline/arrow-path -->
                <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12c0-1.232.046-2.453.138-3.662a4.006 4.006 0 013.7-3.7 48.678 48.678 0 017.324 0 4.006 4.006 0 013.7 3.7c.017.22.032.441.046.662M4.5 12l-3-3m3 3l3-3m12 3c0 1.232-.046 2.453-.138 3.662a4.006 4.006 0 01-3.7 3.7 48.657 48.657 0 01-7.324 0 4.006 4.006 0 01-3.7-3.7c-.017-.22-.032-.441-.046-.662M19.5 12l-3 3m3-3l3 3" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">Automations</span>
                </a>
            </nav>
            </div>
        </div>
        <div class="space-y-6 py-6 px-5">
            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Pricing</a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Docs</a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Help Center</a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Guides</a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Events</a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Security</a>
            </div>
            <div>
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Sign up</a>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
                Existing customer?
                <a href="#" class="text-indigo-600 hover:text-indigo-500">Sign in</a>
            </p>
            </div>
        </div>
        </div>
    </div>
</div>