{% extends '_layouts/layout' %}

{% block content %}
<div class="container mx-auto my-10 text-center">
    <p class="text-2xl leading-5 font-medium">This is blogs detail page design not found.</p>
</div>
{% endblock %}