<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block seo %}{% hook 'seo' %}{% endblock %}

    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"> #}    
    <link href="{{ siteUrl }}dist/output.css" rel="stylesheet">
    <script src="{{ siteUrl }}dist/alphine.js"></script>
    {# <script src="https://cdn.tailwindcss.com"></script> #}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js" integrity="sha512-Atu8sttM7mNNMon28+GHxLdz4Xo2APm1WVHwiLW9gW4bmHpHc/E2IbXrj98SmefTmbqbUTOztKl5PDPiu0LD/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}

</head>

<body>
    {#
	==================================================
		Include Hero
	==================================================
	#}
	{% include "_partials/header" %}

    {% block content %}{% endblock %}

    <footer class="bg-pearl-700 p-3">
        <div class="container mx-auto flex flex-col sm:flex-row sm:justify-between">
            <p class="text-xs text-pearl-100 text-left">&copy; {{ now | date('Y') }} {{ siteName }}. All rights reserved.</p>
            <p class="text-xs text-pearl-100 text-right">Website Design <i>by</i> Taher</a></p>
        </div>
    </footer>

    {% block footer %}{% endblock %}
</body>
</html>